{% extends 'base.html'%}
{% load static %}


{% block title %}
{{title}}
{% endblock %}

{% block main %}
<div class="contain">
    <h1>About us</h1>
    <p>
        <b>Welcome to Level Up!</b>
        <br>
        At our quiz app, we're all about fun and learning. Dive into a world of quizzes designed to challenge,
        entertain, and expand your knowledge. Our team is passionate about creating an engaging quiz experience that
        keeps you coming back for more.

        <br>Why Choose Level Up?

    <ul>
        <li>Exciting quizzes for every interest
        </li>
        <li>User-friendly interface
        </li>
        <li>Learn while having fun
        </li>
    </ul>
    Join us on this quiz journey, and let's explore knowledge together!
    </p>

    <p><b>Connect With Us</b>: pulatov.2363@gmail.com</p>

</div>
{% endblock main %}



