{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block main %}


<div class="d-flex justify-content-center mt-4">
    <div class="col-6 card p-4 bg-dark border-danger">
        <h3 class="text-center text-light">{{ title }}</h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-floating flex-fill mb-4">
                {{ form.username }}
                <label for="{{ form.username.id_for_label }}" class="form-label">
                    Login
                </label>
            </div>

            <div class="form-floating flex-fill mb-4">
                {{ form.first_name }}
                <label for="{{ form.first_name.id_for_label }}" class="form-label">
                    First name
                </label>
            </div>


            <div class="form-floating flex-fill mb-4">
                {{ form.last_name }}
                <label for="{{ form.last_name.id_for_label }}" class="form-label">
                    Last name
                </label>
            </div>


            <div class="form-floating flex-fill mb-4">
                {{ form.email }}
                <label for="{{ form.email.id_for_label }}" class="form-label">
                    Email
                </label>
            </div>


            <div class="form-floating flex-fill mb-4">
                {{ form.password1 }}
                <label for="{{ form.password1.id_for_label }}" class="form-label">
                    Password
                </label>
            </div>


            <div class="form-floating flex-fill mb-4">
                {{ form.password2 }}
                <label for="{{ form.password2.id_for_label }}" class="form-label">
                    Confirm password
                </label>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'index' %}" class="btn btn-success">Back</a>

                <button type="submit" class="btn btn-secondary">
                    Sign in
                </button>

            </div>

        </form>
    </div>
</div>


{% endblock main %}














